@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply mx-auto max-w-full px-5 md:px-6 xl:max-w-[1280px];
    }
    .heading_md {
        @apply text-white text-4xl font-medium uppercase;
    }
    .heading_lg {
        @apply font-extrabold text-white text-[50px] leading-[50px] md:text-[85px] md:leading-[85px];
    }

    ._link {
        @apply text-white font-semibold hover:text-white/50 duration-100 text-base md:text-[17px];
    }
    .mobile_nav_gradient {
        background: linear-gradient(to right, white 80%, transparent 20%);
    }
    .mobile_nav_transparent {
        background: linear-gradient(transparent, transparent) !important;
    }
}
